In [1]:
import numpy as np
import pandas as pd
import networkx as nx
from random import sample

In [2]:
all_words = pd.read_csv("dictionary.csv", names=["word"])
all_words.columns
all_words.astype(str)

             word
0              aa
1             aah
2           aahed
3          aahing
4            aahs
...           ...
172815    zymotic
172816  zymurgies
172817    zymurgy
172818    zyzzyva
172819   zyzzyvas

[172820 rows x 1 columns]

In [3]:
four_letter_locs = all_words["word"].apply(lambda x: len(str(x)) == 4)
four_letters = all_words[four_letter_locs]

In [4]:
four_letters

        word
4       aahs
8       aals
46      abas
83      abba
88      abbe
...      ...
172694  zoom
172705  zoon
172726  zoos
172746  zori
172801  zyme

[3902 rows x 1 columns]

In [5]:
vowels = ("a", "e", "i", "o", "u")
def get_composition(s : str) -> str:
        
    composition = []
    for i, letter in enumerate(s):
        if letter in vowels:
            composition += "V"
            
        # basic decision making for if y is a vowel
        # y's at the end of words are always vowels
        # y's followed by vowels are consonants
        # all other y's are vowels
        elif letter == "y":
            if i == len(s)-1:
                composition += "V"
            elif s[i+1] in vowels:
                composition += "C"
            else:
                composition += "V"

        else:
            composition += "C"
    
    return "".join(composition)

In [6]:
four_letters["composition"] = four_letters["word"].apply(lambda x: get_composition(x))

/tmp/ipykernel_18274/2393080957.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  four_letters["composition"] = four_letters["word"].apply(lambda x: get_composition(x))

In [7]:
four_letters

        word composition
4       aahs        VVCC
8       aals        VVCC
46      abas        VCVC
83      abba        VCCV
88      abbe        VCCV
...      ...         ...
172694  zoom        CVVC
172705  zoon        CVVC
172726  zoos        CVVC
172746  zori        CVCV
172801  zyme        CVCV

[3902 rows x 2 columns]

In [8]:
words = four_letters["word"]

In [9]:
words

4         aahs
8         aals
46        abas
83        abba
88        abbe
          ...
172694    zoom
172705    zoon
172726    zoos
172746    zori
172801    zyme
Name: word, Length: 3902, dtype: object

In [12]:
small_words = sample(list(words), 20)